body
{
	background-color: #555555; 
	font-family: "Segoe UI", "Microsoft Yahei UI", Tahoma, sans-serif; 
	font-size: 11pt; 
}

.container
{
	width: 60%; 
	min-width: 600px; 
	margin: 0 20% 0 20%;
}

.heading
{
	padding: 2em;
}

.heading h1
{
	color: #eeeeee; 
}

.main
{
	padding: 2em ; 
	background-color: #aaaaaa; 
}

.main a
{
	text-decoration: none; 
	color: #777; 
}

.main a:link
{
	text-shadow: 0 0 1px #777; 
}

.main a:hover
{
	color:#337;
	text-shadow: 0 0 1px #337; 
}

.main h2
{
	margin: 0.2em; 
	margin-left: 0;
}

.articles
{
	width: 68%;
	float: left; 
}

.article
{
	padding: 1em; 
	margin: 1em 0.5em 1em 0.5em; 
	background-color: #eeeeee; 
	box-shadow: 0 0 15px #777; 
}


.navbar
{
	width: 25%;  
	float: right; 
	
	padding: 1em; 
	margin: 1em 0em 1em 0.5em ; 
	background-color: #eeeeee; 
	box-shadow: 0 0 15px #777; 
}

.navbar ul
{
	list-style-type: square;
}

.navbar ul li
{
	margin-left: -1em;
}

.main:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}

.footer
{
	text-align:center; 
	color: #ddd; 
}